.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

.header {
  background-color: tomato;
  color: white;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
